body {
    background-color: rgba(246, 241, 241, 0.972);   /* cor da fundo da pagina */
    color:#e805ce;                                /* cor escrita */
}

header {
    border: solid 2px aquamarine;
    font-size: 32px;
    padding: 10px;
    color: bisque;
}

h1 {
    font-size: 30px;              /* tamanho da fonte */
    text-align: center;           /*centralizado */
    text-transform: uppercase;    /* letras minusculas*/
}

p {
    font-size: 16px;
    color: aquamarine;
}